extends layout.jade
block content
  .row.padding-bottom30
    .col-md-8
      .text-content.dyn-content(id='challenge-page-01')
    .col-md-4
      .text-center.exo.padding-top60.padding-bottom30
        img.logo-size(src='img/sa_logo_circle_cs.png')
        br
        | April 11-12
      p.text-center.padding-bottom30
        a.btn.btn-primary.btn-lg(href='https://2015.spaceappschallenge.org/register/mikkeli/') Register to the event!
  .row.padding-bottom30
    .col-md-12
      hr
      .col-md-12
        h1.text-center.exo-large Previous challenges
      .col-md-6
        iframe(src="https://player.vimeo.com/video/89119970" width="100%" height="300" style="padding: 10px 0;" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="")
      .col-md-6
        iframe(src="https://player.vimeo.com/video/89119962" width="100%" height="300" style="padding: 10px 0;" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="")
      .col-md-6
        iframe(src="https://player.vimeo.com/video/89121639" width="100%" height="300" style="padding: 10px 0;" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="")
      .col-md-6
        iframe(src="https://player.vimeo.com/video/89119966" width="100%" height="300" style="padding: 10px 0;" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="")
      .col-md-6
        iframe(src="https://player.vimeo.com/video/89119965" width="100%" height="300" style="padding: 10px 0;" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="")

