extends layout.jade
block content
  .row.padding-bottom30
    .col-md-8
      .lead.text-content.dyn-content(id='challenge-page-01')
    .col-md-4
      .text-center.exo.padding-top60.padding-bottom30
        img.logo-size(src='img/sa_logo_circle_cs.png')
        br
        | April 11-12
      p.text-center.padding-bottom30
        a.btn.btn-primary.btn-lg(href='https://2015.spaceappschallenge.org/register/mikkeli/') Register to the event!
  .row.padding-bottom30
    .col-md-12
      hr
      .col-md-12
        h1.text-center.exo-large Previous challenges
      .col-md-4
        iframe(width="283" height="185" src="https://www.youtube.com/embed/z6U2Deg8zrQ" style="padding: 10px 0;" frameborder="0" allowfullscreen="")
        h3 SkyWatch
        p SkyWatch was created at Space Apps Toronto. The app is a visual representation of data collected from observatories around the world in near real time. The app provides telescope coordinates of celestial events, and plots the location through Google Sky. Users can subscribe or filter sky alerts, and share them through social media. This project solves the Alert-Alert challenge.
      .col-md-4.padding-bottom30
        iframe(width="283" height="185" src="https://www.youtube.com/embed/6GVk6jGkeKw" style="padding: 10px 0;" frameborder="0" allowfullscreen="")
        h3 Android Base Station
        p Android Base Station was created at Space Apps London to transform a smart phone into wifi hotspot by connecting to satellites using a 3-D printed receiver. This automated, ultra-portable, satellite tracking station can log changes in micro-satellites in orbit. This project solves the PhoneSat challenge.
      .col-md-4.padding-bottom30
        iframe(src="https://player.vimeo.com/video/92284115" width="283" height="185" style="padding: 10px 0;" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="")
        h3 Aurora Wearables: Fashion meets Function
        p Aurora Wearables was created at Space Apps Exeter as a collaboration between artists, fashion designers, technologists, and software developers. This internet-connected spacesuit is designed for astronauts to wear on the International Space Station and beyond. This solution solves the Space Wearables challenge.
      .col-md-4.padding-bottom30
        iframe(src="https://player.vimeo.com/video/92415975" width="283" height="185" style="padding: 10px 0;" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="")
        h3 SkySnapper
        p SkySnapper was created at Space Apps London to measure air quality by snapping photos of the sky. Crowd-sourced sky images are mapped to assess air pollution by sky color to spot polluted areas and monitor progress over time. This project solves the My Sky Color challenge.
      .col-md-4.padding-bottom30
        iframe(width="283" height="185" src="https://www.youtube.com/embed/cL6pLJMAsVw" style="padding: 10px 0;" frameborder="0" allowfullscreen="")
        h3 Yorbit
        p Yorbit was created at Space Apps Kansas City as a way to search, personalize, and share the stunning photographs captured by NASA satellites orbiting high above Earth. Searching by date and image, users can choose images from unique maps and write message on the image to share using social media or email. This project solves the Earth As Art challenge.
      .col-md-4.padding-bottom30
        iframe(src="https://player.vimeo.com/video/92463265" width="283" height="185" style="padding: 10px 0;" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="")
        h3 Next Vision (Space Helmet)
        p SpaceHelmet was created at Space Apps Valencia. Space Helmet is integrated with a smart phone and cameras and virtual reality glove to provide data at the point of the finger. This project solves the SpaceT challenge.
