extends layout.jade
block content
  .row
    .col-md-8
      p.lead.dyn-content(id='frontpage-01')        
      p.text-center.padding-bottom30
        a.btn.btn-primary.btn-lg(href='https://2015.spaceappschallenge.org/register/mikkeli/') Register to the event!            
    .col-md-4
      .col-md-12 
        a.twitter-timeline(height='400', data-chrome='nofooter noheader noborders transparent', href='https://twitter.com/SpaceAppsMLI', data-widget-id='571361985150062592') Tweets by @SpaceAppsMLI           
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  .row.padding-bottom30
    .col-md-12
      hr
      .col-md-12
        h1.text-center.exo-large Space Apps 2015
      .col-md-6
        iframe(src="https://player.vimeo.com/video/121171812" width="100%" height="300" style="padding: 10px 0;" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="")
      .col-md-6
        iframe(src="https://player.vimeo.com/video/121171813" width="100%" height="300" style="padding: 10px 0;" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="")