extends layout.jade
block content
  .row
    .col-md-8
      p.lead.dyn-content(id='frontpage-01')        
      p
        a.btn.btn-primary.btn-lg(href='https://2015.spaceappschallenge.org/register/mikkeli/') Register to the event!            
    .col-md-4
      .col-md-12 
        a.twitter-timeline(height='400', data-chrome='nofooter noheader noborders transparent', href='https://twitter.com/SpaceAppsMLI', data-widget-id='571361985150062592') Tweets by @SpaceAppsMLI           
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");