doctype html(lang='en')
head
    meta(charset='utf-8')  
    meta(http-equiv='X-UA-Compatible', content='IE=edge') 
    meta(name='viewport', content='width=device-width, initial-scale=1')  
    meta(name='description', content='')  
    meta(name='author', content='')  
    link(rel='icon', href='../../favicon.ico')
    title SpaceApps Mikkeli
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/layout.css', rel='stylesheet') 
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Exo+2:400,300,200' rel='stylesheet' type='text/css')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation       
            span.icon-bar        
            span.icon-bar        
            span.icon-bar       
          a.navbar-brand(href='/') SpaceApps Mikkeli      
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/program') Program   
            li
              a(href='/challenges') Challenges             
            li
              a(href='/venue') Venue
            li
              a(href='/spaceguide') Space guide 
            li
              a(href='/faq') FAQ 
            if user
              li
                a(href='/users') Usermanagement
              li
                a(href='/logout') Logout
    if (menu === 'index')
      .jumbotron
        .space-logo.text-center.exo
          img.logo-size(src='/img/sa_logo_circle_cs.png')
          br
          | April 11-12
        .spaceship
          img(src='/img/raketti.png')
        .earth
          img(src='/img/maa.png')
        .satellite
          img(src='/img/satelliitti.png')

    else
      .jumbotron-narrow
        .container
          if (menu === 'program')
            h1 Program
          if (menu === 'challenges')
            h1 Challenges
          if (menu === 'venue')
            h1 Venue
          if (menu === 'spaceguide')
            h1 Space guide
          if (menu === 'faq')
            h1 FAQ
          if (menu === 'management')
            h1 Management
          if (menu === 'blog')
            h1 Blog
    .container
      block content
    .container-fluid.footer-container
      .container
        .row                   
          .col-md-6.padding-bottom30
            h3 Coordinator
            hr                        
            p Mikko Lampi
            p +358 50 494 9062
            p mikko.lampi@mamk.fi
            p 
              a(href='https://twitter.com/jotudin' target='_blank') @jotudin
            br
            h5 Talk about us in Twitter and social media! 
            p #spaceapps #spaceappsmikkeli
          .col-md-6.padding-bottom30
            h3 Follow us!
            hr                       
            p
              a(href='https://twitter.com/SpaceAppsMLI')
                img.padding-right10(src='/img/twitter-48.png' style="width: 57px;") 
              a(href='https://www.facebook.com/SpaceAppsMikkeli')
                img.padding-right10(src='/img/facebook-48.png' style="width: 57px;")                      
      .row
        .col-md-12.padding-bottom30.text-center.logos
          h3 Partners & Sponsors       
          br 
          a(href='http://www.mamk.fi/')
            img(src='/img/mamk_logo.jpg')
          a(href='http://mikkeli.hacklab.fi/')
            img(src='/img/hl_logo.jpg')
          a(href='http://mikkelies.fi/en/')
            img(src='/img/mikkelies_logo_280.jpg')
          a(href='http://surveyinpocket.com/')
            img(src='/img/sp_logo.png')
          a(href='http://ilmatieteenlaitos.fi/')
            img(src='/img/ilmatieteenlaitos.jpg' style="width:280px;")
          a(href='http://www.mikkeli.fi/')
            img(src='/img/city_logo.jpg')
        .col-md-12.padding-bottom30.text-center.opacity-text  
          | Website by 
          a(href="http://nomorepiggies.com/johannaraisa/" target="_blank") Johanna Räisä 
          | and 
          a(href="https://github.com/hkurhinen" target="_blank") Heikki Kurhinen
          |. Graphics by 
          a(href="http://aiedesign.fi/en/aie-design/tytti-vuorikari/" target="_blank") Tytti Vuorikari
          
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/responsive.js')
    if user
      script(src='//cdn.ckeditor.com/4.4.7/standard/ckeditor.js')
      script(src='/js/spaceapp_admin.js')
    else
      script(src='/js/spaceapp.js')
    block custom_script
