extends layout.jade
block content
  .text-content.dyn-content(id='venue-page-01')
  iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1892.7533104225006!2d27.256726799999996!3d61.6799779!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469aa10bdd7ce885%3A0x765fe5a45f1adc68!2sPatteristonkatu+3%2C+50100+Mikkeli!5e0!3m2!1sfi!2sfi!4v1425266161896", width="600", height="450", frameborder="0", style="border:0")
