extends layout.jade
block content
  .row
    .col-md-8
      .lead.text-content.dyn-content(id='venue-page-01')
    .col-md-4
      .text-center.exo.padding-top60.padding-bottom30
        img.logo-size(src='img/sa_logo_circle_cs.png')
        br
        | April 11-12
      p.text-center.padding-bottom30
        a.btn.btn-primary.btn-lg(href='https://2015.spaceappschallenge.org/register/mikkeli/') Register to the event!
  .row.padding-bottom30
    .col-md-12
      hr
      .col-md-12
        h1.text-center.exo-large Location
      .col-md-12.padding-bottom30
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1892.7533104225006!2d27.256726799999996!3d61.6799779!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469aa10bdd7ce885%3A0x765fe5a45f1adc68!2sPrikaatinkatu+3+50100+Mikkeli!5e0!3m2!1sfi!2sfi!4v1425266161896", width="100%", height="500", frameborder="0", style="border:0;")
      .col-md-12.padding-bottom30
        | Load the campus map from 
        a(href="http://www.mamk.fi/instancedata/prime_product_julkaisu/mamk/embeds/mamkwwwstructure/23338_Xinno_kartta.pdf")
          | here