html {
  position: relative;
  height: 100%;
}
body {
  height: 100%;
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
}
.exo {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: black;
}
.space-logo {
  position: absolute;
  top: 13%;
  left: 5%;
}
.main {
  min-height: 100%;
  height: auto;
}
.jumbotron {
  background: url('../img/spaceapps_banneri.jpg') no-repeat center -20px scroll;
  color:white;
  background-color: black;
  min-height: 520px;
}
.jumbotron-narrow {
  background-color: rgb(57, 86, 166);
  color:white;
  min-height: 300px;
}
.jumbotron-narrow h1 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  font-size: 5em;
  color: white;
  background-color: rgb(57, 86, 166);
  margin-top: 80px;
  float: left;
}
.navbar-nav > li > a {
  color:white !important;
}
.nav > li > a:hover {
  color:#337AB7 !important;
}
.navbar-inverse {
  background-color: #1D1D1D !important;
}
#twitter-widget-0 {
  width:100% !important;
}
.text-content {
  padding-top:70px;
}

.padding-bottom30 {
  padding-bottom: 30px;
}
.padding-right10 {
  padding: 0 10px 0 0;
}

.footer-container {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  bottom: 0;
  width: 100%;
  background-color: #1D1D1D;
  color: #F7F7F7;
}

.footer-container h3{
  font-size: 14px;
  color: #F7F7F7;
}
.footer-container hr{
  border-color: #626262 !important;
  margin:0 0 20px 0 !important;
}
.footer-container h4{
  line-height: 3em;
  font-size: 13px;
  color: #F7F7F7;
}
.footer-container p{
  font-size: 12px;
  margin: 0;
  line-height: 1.7em;
  color: #F7F7F7;
}