html {
  position: relative;
  height: 100%;
}
body {
  height: 100%;
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
}
.exo {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: black;
}
.exo-large {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 4em;
  padding: 30px 0 50px 0;
  color: black;
}
.space-logo {
  position: absolute;
  top: 8%;
  left: 5%;
}
.spaceship {
  width: 40%;
  margin:0 auto;
  padding-top: 40px;
}
.spaceship img{
  width: 100%;
}
.satellite {
  position: absolute;
  right: 10px;
  top:60px;
  width: 20%;
}
.satellite img{
  width: 100%;
}
.earth {
  width: 30%;
  position: absolute;
  bottom: -40px;
  left: 0;
}
.earth img{
  width: 100%;
}
@media (max-width: 900px) {
  .earth {
    width: 40%;
  }
  .spaceship {
    width: 50%;
    margin: 50px 38% 0;
  }
  .satellite {
    visibility: hidden;
  }
  .jumbotron {
    padding: 0;
  }
}
@media (max-width: 700px) {
  .spaceship {
    margin-top: 140px;
  }
}
@media (max-width: 600px) {
  .spaceship {
    margin-top: 160px;
  }
}
.main {
  min-height: 100%;
  height: auto;
}
.jumbotron {
  background: url('../img/taivas.png') no-repeat center top scroll;
  color:white;
  background-color: black;
  min-height: 380px;
  overflow: hidden;
  position: relative;
}
.jumbotron-narrow {
  background-color: rgb(57, 86, 166);
  background: url('../img/taivas.png') no-repeat scroll;
  color:white;
  min-height: 250px;
}
.jumbotron-narrow h1 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  font-size: 5em;
  color: white;
  background-color: rgb(57, 86, 166);
  margin-top: 85px;
  float: left;
}
@media (max-width: 500px) {
  .jumbotron-narrow h1 {
    font-size: 4.5em;
  }
  .space-logo {
    top: 35%;
    left: 16%;
  }
  .spaceship {
    margin: 0 38%;
  }
}
.navbar-nav > li > a {
  color:white !important;
}
.nav > li > a:hover {
  color:#337AB7 !important;
}
.navbar-inverse {
  background-color: #1D1D1D !important;
}
.btn-primary {
  font-family: 'Exo 2', sans-serif;
}
#twitter-widget-0 {
  width:100% !important;
}
.text-content {
  padding-top:70px;
}

.padding-bottom30 {
  padding-bottom: 30px;
}
.padding-right10 {
  padding: 0 10px 0 0;
}

.padding-top60 {
  padding-top: 60px;
}

.footer-container {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  bottom: 0;
  width: 100%;
  background-color: #1D1D1D;
  color: #F7F7F7;
}

.footer-container h3{
  font-size: 14px;
  color: #F7F7F7;
}
.footer-container hr{
  border-color: #626262 !important;
  margin:0 0 20px 0 !important;
}
.footer-container h4{
  line-height: 3em;
  font-size: 13px;
  color: #F7F7F7;
}
.footer-container p{
  font-size: 12px;
  margin: 0;
  line-height: 1.7em;
  color: #F7F7F7;
}
.opacity-text {
  opacity:0.2;
  font-family: 'Exo 2', sans-serif;
  font-weight: 200;
  font-size: 1em;
}